
.container {

  display: flex;
  justify-content: center;
  background-color: #f7fcfd;
}


.btnMore{
  background-color: #f7fcfd;
  color: rgb(250, 218, 240);
  text-transform:lowercase;
}
.btnSlade{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {

  background-color: #C37B89;
  font-family: 'Poppins', sans-serif; 
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin-top: 5px;
  width: 150px;

}
h1 {
  font-family: 'Poppins', sans-serif; 
  margin-top: 20px;
}
h2, p{
  font-family: 'Roboto', sans-serif;
}

.top{
padding-top: 20px;
}
.par {
margin: 50px;
}

